<launch>
  <arg name="model" default="$(find fre_task4_description)/urdf/fre_robot_minimal.urdf.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen" />

  <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher"
        output="screen" />

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        output="screen" />
</launch>
